<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Icono Pagina -->
    <link rel="icon" href="../../src/assets/iconos/iconoms.ico" >
    <!-- CSSS -->
    <link rel="stylesheet" href="../../css/style.css">    
    <title>Ofertas</title>
</head>
<body>
    <!-- Inicio Header -->
    <header class="main" id="principal">
        <a href="./../../index.html">
            <img  class="logo-empresarial" src="../assets/iconos/logomsp.png" alt="Logo empresarial">   <!-- Logo de la Empresa -->
        </a>
        
        <nav class="nav-uno">
            <ul  class="main-menu">
                <li><a class="menu-nav-uno" href="./productos.html">Productos</a></li>
                <li><a class="menu-nav-uno" href="#">Ofertas</a></li>                
                <li><a class="menu-nav-uno" href="../../index.html#nosotros">Nosotros</a></li>
                <li><a class="menu-nav-uno" href="../../index.html#contacto">Contacto</a></li>
                <li><a class="menu-nav-uno" href="./carrito.html">Carrito</a></li>
            </ul>
        </nav>   
    </header>
    <!-- Fin Header -->

    <Section>
        <h1 class="oferta-title">Ofertas</h1>
        
        <h2 class="oferta-subtitle">Las mejores Ofertas en productos destacados de la semana!</h2>
    </Section>

    <!-- Se mostrarian las ofertas de la semana. -->
    <section class="ofertas-principal">

        <!-- La idea es poder linkear y agregar al carrito la oferta que prefiera 
            el cliente, serian las primeras del carrousel de la pagina HOME mas algunas otras -->

        <img class="img-oferta" src="../assets/oferta-rienda.png" alt="Oferta de riendas y cabezada de carrera">
        <h3 class="descripcion-producto">
            Juego de riendas y cabezada, carrera. $ 5.800 (50% descuento)
        </h3>
        <!-- <button> Agregar al carrito -->
        <img class="img-oferta" src="../assets/oferta-herraduras.jpg" alt="Oferta Herraduras de aluminio, varios talles">
        <h3 class="descripcion-producto">
            Herraduras de aluminio, últimos pares! $ 2.500 (40% descuento)
        </h3>
        <!-- <button> Agregar al carrito -->
        <img class="img-oferta" src="../assets/oferta-manta.jpg" alt="Mantas temporada verano">
        <h3 class="descripcion-producto">
            Mantas para la nueva temporada. $ 8.500 (40% descuento)
        </h3>
        <!-- <button> Agregar al carrito -->
        <img class="img-oferta" src="../assets/oferta-comedero.jpg" alt="Comedero con abrazaderas">
        <h3 class="descripcion-producto">
            Comedero con soportes, imperdible! $ 5.000 (40% descuento)
        </h3>
        <!-- <button> Agregar al carrito -->
    </section>

    <!-- Inicio Footer -->
    <footer class="footer">
        <h4>
            Seguinos en nuestras redes!
        </h4>
        <nav>
            <div class="iconos-container">
                <div>
                    <a class="ig" href="https://instagram.com" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <rect x="4" y="4" width="16" height="16" rx="4" />
                            <circle cx="12" cy="12" r="3" />
                            <line x1="16.5" y1="7.5" x2="16.5" y2="7.501" />
                        </svg>
                        <span class="ig-text">
                            MS Instagram
                        </span>
                    </a>
                </div>

                <div>
                    <a class="fb" href="http://facebook.com" target="_blank" >
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-facebook" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" />
                        </svg>
                        <span class="fb-text">
                            MS Facebook
                        </span>
                    </a>
                </div>
            </div>
            <br>
            <a href="#principal">Volver a Arriba</a>  <!-- Volvemos al Menú Principal -->     
        </nav>

        <p class="copyright">
            <br>
            Copyright MS Talabarteria Sa, todos los derechos reservados.
        </p>

    </footer>
    
    <!-- Fin Footer -->
</body>
</html>