<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Icono Pagina -->
    <link rel="icon" href="./src/assets/iconos/iconoms.ico" >
    <!-- CSSS -->
    <link rel="stylesheet" href="../../css/style.css">
    <title>Productos</title>
</head>
<body>
    <!-- Inicio Header -->
    <header class="main" id="principal">
        <a href="./../../index.html">
            <img  class="logo-empresarial" src="../assets/iconos/logomsp.png" alt="Logo empresarial">   <!-- Logo de la Empresa -->
        </a>
        
        <nav class="nav-uno">
            <ul  class="main-menu">
                <li><a class="menu-nav-uno" href="#">Productos</a></li>
                <li><a class="menu-nav-uno" href="./ofertas.html">Ofertas</a></li>                
                <li><a class="menu-nav-uno" href="../../index.html#nosotros">Nosotros</a></li>
                <li><a class="menu-nav-uno" href="../../index.html#contacto">Contacto</a></li>
                <li><a class="menu-nav-uno" href="./carrito.html">Carrito</a></li>
            </ul>
        </nav>   
    </header>
    <!-- Fin Header -->

    <section class="productos-main">
        <h1 class="productos-title">
            <span class="fondo-color">Productos</span>
        </h1>
        
        <div class="grid-container">
            <div class="grid-image">
                <img class="img-productos" src="../assets/p1.jpg" alt="BOZAL, bozales para caballos de cuero, mediano">
                <p class="productos-descripcion">
                Bozal para caballos en cuero.
                <br>
                $ 3.200,00
                <!-- <button> Agregar al carrito -->
                </p>
            </div>

            <div class="grid-image">
                <img class="img-productos" src="../assets/p2.jpg" alt="Producto 2, frenos para caballos mediano, tipo rodillo">
                <p class="productos-descripcion">
                Freno tipo rodillo.
                <br>
                $ 5.500,00
                <!-- <button> Agregar al carrito -->
                </p>
            </div>

            <div class="grid-image">
                <img class="img-productos" src="../assets/p3.jpg" alt="Producto 3, monturas para caballos en cuero, mediano">
                <p class="productos-descripcion">
                Montura en cuero.
                <br>
                $ 28.000,00 
                <!-- <button> Agregar al carrito -->
                </p>
            </div>

            <div class="grid-image">
                <img class="img-productos" src="../assets/herradura.jpg" alt="Producto 4, Herraduras varios talles">
                <p class="productos-descripcion">
                Herraduras el par.
                <br>
                $ 2.500,00    
            </div>
            <!-- <button> Agregar al carrito -->
            </p>
                        
        </div>
        <div class="prod-a-carrito">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-shopping-cart" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <circle cx="6" cy="19" r="2" />
                <circle cx="17" cy="19" r="2" />
                <path d="M17 17h-11v-14h-2" />
                <path d="M6 5l14 1l-1 7h-13" />
            </svg>
            <a href="./carrito.html">Ir al carrito</a>
        </div>

    </section>
    
    <!-- Inicio Footer -->
    <footer class="footer">
        <h4>
            Seguinos en nuestras redes!
        </h4>
        <nav>
            <div class="iconos-container">
                <div>
                    <a class="ig" href="https://instagram.com" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <rect x="4" y="4" width="16" height="16" rx="4" />
                            <circle cx="12" cy="12" r="3" />
                            <line x1="16.5" y1="7.5" x2="16.5" y2="7.501" />
                        </svg>
                        <span class="ig-text">
                            MS Instagram
                        </span>
                    </a>
                </div>

                <div>
                    <a class="fb" href="http://facebook.com" target="_blank" >
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-facebook" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" />
                        </svg>
                        <span class="fb-text">
                            MS Facebook
                        </span>
                    </a>
                </div>
            </div>
            <br>
            <a href="#principal">Volver a Arriba</a>  <!-- Volvemos al Menú Principal -->     
        </nav>

        <p class="copyright">
            <br>
            Copyright MS Talabarteria Sa, todos los derechos reservados.
        </p>

    </footer>
    
    <!-- Fin Footer -->



</body>
</html>