@import '../base/extends';
@import '../base/mixings';
@import '../base/variables';
footer {
    color: $titles-colors;
    border-top: 2px solid $titles-colors;
    border-bottom: 2px solid $titles-colors; 
    background-color: $bg-color-footer;
    font-style: italic;
    margin-top: 40px;
    padding: 20px 0px;
    padding-left: 1rem;
    text-decoration: none;
}
footer h4 {
    padding-bottom: 15px;
}

.ig:hover, .fb:hover {
    background-color: $bg-color-header;
    color: $titles-colors;    
}

footer nav div div a {    
    color: $titles-colors;
    font-size: 1.5rem;
}

footer nav a {
    color: $titles-colors;
    text-decoration: none;
}

.ig, .fb {
    @include dfg-alig(inherit, center);
    width: 12%;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    transition: all 1s linear;
    border-radius: 2rem;
    text-decoration: none;
    padding: 0.5%;
}


.ig-text, .fb-text {
    margin-left: 1%;
}

.copyright{
    text-decoration: none;
    color: $titles-colors;
}
