@import '../base/extends';
@import '../base/variables';
@import '../base/mixings';
.oferta-title {    
    @extend %titles-cfg-std;
}

.ofertas-principal {
    @extend %cfg-flex-ctr;  
} 

.oferta-subtitle {
    text-align: center;
    color: $titles-colors;
}
.card {
    @include dfg-alig(flex, center);
    flex-wrap: nowrap;
    justify-content: center;
    margin: 1rem;
}

