@import '../base/extends';
@import '../base/variables';

.oferta-title {    
    @extend %titles-cfg-std;
}

.ofertas-principal {
    @extend %cfg-flex-ctr;  
} 

.oferta-subtitle {
    text-align: center;
}
.card {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 1rem;
}
